html 					{ overflow-y:scroll; }
body 					{ padding-top:50px; }

.heading {
    border: 1px solid;
    background-color: #f7f7f7;
    border-color: #f7f7f7;
}

.items {

    border: 1px solid;
    padding: 10px 10px;
    border-color: #e6e6e6
}

.form-textbox {
    height: 40px;
}