<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="searchApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>FabHotels: India's Best Budget Hotels</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="dest/css/style.min.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <!-- load our main application -->



</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="SearchController">

<div class="container">

    <div class = "input-group">
        <span class = "input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
        <input type = "text" class = "form-control form-textbox" placeholder = "Location" ng-model="search" ng-keyup="populateView(search)"  >
    </div>

    <div class="heading"><h4>&nbsp;Locations</h4></div>
    <div class="items"  ng-repeat="place in googlePlaces ">

        <span ng-click="setValue(hotel.name)" ><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{place.description}}</span>
    </div>


    <div class="heading"><h4>&nbsp;Hotels</h4></div>


<div class="items"  ng-repeat="hotel in hotels">

    <span ng-click="setValue(hotel.name)" ><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{hotel.name}}</span>
</div>

</div>

<script src="dest/js/production.min.js"></script>
</body>
</html>

